@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,700&display=swap");

.cont-right {
  position: relative;
  top: 100px;
}

.card-height {
  height: 360px;
  overflow: scroll;
  border-radius: 20px;
}
.button {
  width: 150px;
  font-size: 16px;
  height: 44px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  font-family: Nunito sans;
  color: #ffffff;
  margin-bottom: 8px;
}
.button:hover {
  width: 150px;
  font-size: 16px;
  height: 44px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  font-family: Nunito sans;
  color: #ffffff;
  margin-bottom: 8px;
}
.title-topUp {
  position: relative;
  left: 4.7rem;
}
.inputs {
  width: 300px;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 30px;
  position: relative;
  left: 6rem;
}
.loader-balance {
  color: #ffffff;
  position: relative;
  top: 5rem;
}
.cont-card {
  background-color: #6379f4;
  border-radius: 20px;
}
.cont-balance {
  padding: 23px !important;
}

.cont-grafik {
  height: 358px;
  width: 455px;
  border-radius: 20px;
}
.income {
  color: #6a6a6a;
  font-family: Nunito sans;
  font-size: 14px;
}
.height-cont-incomes {
  height: 40px;
}
.incomes {
  display: flex !important;
  flex-direction: column !important;
}
.balance {
  font-family: Nunito sans;
}

.see {
  font-family: Nunito sans;
  color: #6379f4;
  font-weight: 600;
  cursor: pointer;
}

.loading {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  width: 200px;
  left: 60px;
  top: -7rem;
  font-size: 20px;
  font-family: Nunito sans;
  font-weight: 700;
}
.loading-up {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  width: 200px;
  left: 15rem;
  top: 14rem;
}
.grap {
  position: relative;
  left: 3rem;
  height: 236px;
  top: -1rem;
}
