.title {
  padding-right: 45rem;
  color: #6379f4;
}
@media only screen and (max-width: 1024px) {
  .title {
    padding-right: 39rem;
  }
  .name {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 768px) {
  .title {
    padding-right: 26rem;
  }
  .name {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 425px) {
  .title {
    padding-right: 14rem;
  }
  .name {
    font-size: 14px !important;
  }
}
