.cont-right {
  position: relative;
  top: 100px;
}

.cards {
  height: 515px;
}
.button {
  width: 150px;
  height: 45px;
}
.cursor {
  cursor: pointer;
}
.profile-picture {
  border-radius: 0px;
  width: 100px;
  height: 100px;
}
.cursor {
  cursor: pointer;
}
.No-Hp {
  margin-bottom: 30px;
}
.card-information {
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  height: 50px;
  align-items: center;
  color: #000000;
  background-color: #e5e8ed;
  border: none;
}

.text {
  font-family: Nunito sans;
}
