@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,700&display=swap");

.cont-right {
  position: relative;
  top: 100px;
}

.cards {
  height: 515px;
}

.person {
  width: 350px;
}
.desc-1 {
  font-size: 14px;
  font-family: Nunito Sans;
  color: #7a7886;
  padding-top: 30px;
}
.title {
  font-size: 12px;
  margin-bottom: 5px;
  font-family: Nunito Sans;
  color: #7a7886;
}
.cont-card {
  padding-top: 0px;
}

.desc {
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  color: #514f5b;
}
.cont-manage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.manage {
  font-family: Nunito Sans;
  color: #6379f4;
  font-weight: 600;
  font-size: 14px;
}

.cursor {
  cursor: pointer;
}

.email {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  color: #ced4da;
}
.border-input {
  border-top: none;
  border-right: none;
  border-radius: 0px;
  border-bottom: 1px solid #ced4da;
  border-left: none;
  /* margin-bottom: 3rem; */
}

.border-input:focus {
  box-shadow: none;
  background-color: none;
}
.eyeslash {
  color: #706f6f;
}

.login-btn-off {
  background-color: #dadada52 !important;
  width: 100%;
  padding: 0px;
  height: 3rem;
  font-family: Nunito Sans;
  font-style: bold;
  font-size: 18px;
  line-height: 30px;
  line-height: 170%;
  fill: Solid;
  color: #c2c0c067 !important;
  position: relative;
  top: 1rem;
}

.login-btn-off:hover {
  background-color: #dadada52 !important;
  width: 100%;
  padding: 0px;
  height: 3rem;
  font-family: Nunito Sans;
  font-style: bold;
  font-size: 18px;
  line-height: 30px;
  line-height: 170%;
  fill: Solid;
  color: #c2c0c067 !important;
  position: relative;
  top: 1rem;
  cursor: pointer;
}
.login-btn {
  width: 100%;
  padding: 0px;
  height: 3rem;
  background-color: #6379f4;
  font-family: Nunito Sans;
  font-style: bold;
  font-size: 18px;
  line-height: 30px;
  line-height: 170%;
  fill: Solid;
  color: #ffffff;
  position: relative;
  top: 1rem;
}
.login-btn:hover {
  width: 100%;
  background-color: #6379f4;
}
.login-text {
  font-family: Nunito Sans;
  font-style: bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  line-height: 170%;
  fill: Solid;
  color: #ffffff;
  margin: 0px;
}

.cont-password {
  width: 400px;
}
